body {
    background: black;
    font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: white;
    margin: 0;
    padding: 0;
}

:root {
    --swiper-theme-color: white;
}

.swiper-button-disabled{
    display:none;   
}

.error {
    color: red;
}